/*This is my 201 Contact Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my 201 Contact Web Page Project ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url("images/sunset\ background.png"); /*----- updated to use my photoshop image -----*/
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
	
}

.center {
    width: 30%; /*----- This is for responsiveness -----*/
	padding: 2%;
    margin-top: 10px;
	margin-bottom: 10px;
	margin: auto;
 	background: rgba(43, 215, 221, 0.692); /*this uses opacity of 70% for the background color, changed the color to match background*/
	text-align: center;
	
}

   
#logo {
	width: 30%; /*----- This is for responsiveness -----*/
    margin-bottom: 5px;
	margin-top: 5px;
	text-align: center;
}

h1 {
	font-family: 'Kanit', sans-serif;
	font-size: 2em;
    margin: 0px auto 10px auto;
    color: rgb(0, 0, 0);
}

h2 {
	font-family: 'Kanit', sans-serif;
	font-size: 1.6em;
    margin: 0px auto 10px auto;
    color: rgb(0, 0, 0);
    padding: 0px 0px;
    margin: 0px auto 25px auto;
}

p {
	font-family: 'Space Grotesk', sans-serif;
	font-size: 1.2em;
    line-height: 1.6;
    color: rgb(0, 0, 0)
}
nav{
	font-family: 'Space Grotesk', sans-serif;
	font-size: 1.2em;
	width: 75%; /*----- This is for responsiveness -----*/
	margin: 0 auto;
	text-align: center;
	margin-top: 2em;
}   

nav li{
		display:inline;
		text-align:center;
}

nav a{
	background: rgba(101, 0, 178, 0.611);
		display:center;
		padding: 10px;
		text-align: center;
		margin-inline: 20px;
		margin-bottom: 10px;
		
}

a{
	color: rgb(255, 255, 255); /*----- Changed to white -----*/
	text-decoration:none;
	font-weight: bold;
	display:inline;
	text-align:center;
}

a:hover{
		color:rgb(0, 0, 0); /*----- Changed to white -----*/
		background:rgb(43, 215, 221, 0.692);/*----- changed hover color -----*/
}
